<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">
  <style>
    .ml-container {
      max-width: 800px;
      /* Max width of the form container */
      margin: 0 auto;
      /* Center the form horizontally */
      padding: 0 20px;
      /* Add padding to the sides */
    }

    .container {
      width: 600px;
      margin: 0 auto;
      padding: 20px;
      margin-left: 300px;
    }

    .input-group-text {
      width: 200px;
    }

    .range-value {
      min-width: 40px;
      text-align: center;
      display: inline-block;
    }

    .form-input {
      width: 100%;
      /* Full width */
      padding: 10px;
      /* Padding */
      margin-bottom: 20px;
      /* Space between inputs */
      border: 1px solid #ced4da;
      /* Border color */
      border-radius: 5px;
      /* Rounded corners */
    }

    .gender,
    .cptype,
    .fbs,
    .restecg,
    .exang,
    .slope,
    .novessel,
    .thal {
      margin-bottom: 20px;
      /* Space between select inputs */
    }

    .my-cta-button {
      background-color: #007bff;
      /* Blue background color */
      color: #fff;
      /* White text color */
      border: none;
      /* No border */
      padding: 10px 20px;
      /* Padding */
      border-radius: 5px;
      /* Rounded corners */
      cursor: pointer;
      /* Cursor on hover */
    }

    .my-cta-button:hover {
      background-color: #0056b3;
      /* Darker blue on hover */
    }

    label {
      font-size: 16px;
      /* Adjust font size as needed */
      font-weight: bold;
      /* Adjust font weight as needed */
      display: block;
      /* Ensures label appears on a new line */
    }

    /* Style for the select dropdown */
    select {
      width: 100px;
      /* Makes the select dropdown fill its container */
      padding: 8px;
      /* Adjust padding as needed */
      font-size: 14px;
      /* Adjust font size as needed */
      border-radius: 5px;
      /* Adds rounded corners */
      border: 1px solid #ccc;
      /* Adds a border */
    }

    /* Style for the options within the select dropdown */
    option {
      font-size: 14px;
      /* Adjust font size as needed */
    }

    .infor {
      width: 90%;
      margin-left: 5%;
    }
  </style>

  <title> GlucoWizard </title>
  <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

  <!-- Fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- Owl slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

  <!-- Font awesome style -->
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- Responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet">

</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{{url_for('about')}}">
            <span>
              GlucoWizard
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('department')}}">Departments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('data')}}">Doctors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
              </li>

              <li class="nav-item">
                {% if 'loggedin' in session %}
                <a class="nav-link" href="{{ url_for('logout') }}">logout</a>
                {% else %}
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                {% endif %}
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{url_for('profile')}}">Report</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->
  <section class="about_section layout_padding" style="margin-left: 200px;">
    <h1 class="text-center mb-4">Diabetes Prediction Web App <i class="fas fa-heartbeat"></i></h1>
    <div class="container">
      <div style="display: flex;">
        <div>
          <h1>Welcome to the Home Page</h1>
          {% if user_data %}
          <p>Hello, {{user_data[1]}}!</p>
          {% else %}
          <p>No user data found.</p>
          {% endif %}

          <form action="/predict" method="post">
            <div class="mb-3">
              <label for="Pregnancies" class="form-label"><i class="fas fa-baby"></i> Number of Pregnancies
                (years):</label>
              <div class="input-group">
                <input type="range" class="form-range" id="Pregnancies" name="Pregnancies" min="0" max="20" step="1"
                  oninput="updateTextInput(this.value, 'PregnanciesValue')">
                <span class="range-value" id="PregnanciesValue">0</span>
              </div>
            </div>

            <div class="mb-3">
              <label for="Glucose" class="form-label"><i class="fas fa-baby"></i> Glucose (mg/dL):</label>
              <div class="input-group">
                  <input type="range" class="form-range" id="Glucose" name="Glucose" min="0" max="200" step="1" oninput="updateTextInput(this.value, 'GlucoseValue')">
                  <span class="range-value" id="GlucoseValue">0</span>
                  <input type="hidden" id="GlucoseValue" name="Glucose_input">
              </div>
          </div>
          
      

            <div class="mb-3">
              <label for="BloodPressure" class="form-label"><i class="fas fa-stethoscope"></i> Blood Pressure Value
                (mmHg):</label>
              <div class="input-group">
                <input type="range" class="form-range" id="BloodPressure" name="BloodPressure" min="0" max="200"
                  step="1" oninput="updateTextInput(this.value, 'BloodPressureValue')">
                <span class="range-value" id="BloodPressureValue">0</span>
              </div>
            </div>

            <div class="mb-3">
              <label for="SkinThickness" class="form-label"><i class="fas fa-user"></i> Skin Thickness Value
                (mm):</label>
              <div class="input-group">
                <input type="range" class="form-range" id="SkinThickness" name="SkinThickness" min="0" max="100"
                  step="1" oninput="updateTextInput(this.value, 'SkinThicknessValue')">
                <span class="range-value" id="SkinThicknessValue">0</span>
              </div>
            </div>

            <div class="mb-3">
              <label for="Insulin" class="form-label"><i class="fas fa-syringe"></i> Insulin Level (μU/ml):</label>
              <div class="input-group">
                <input type="range" class="form-range" id="Insulin" name="Insulin" min="0" max="500" step="1"
                  oninput="updateTextInput(this.value, 'InsulinValue')">
                <span class="range-value" id="InsulinValue">0</span>
              </div>
            </div>

            <div class="mb-3">
              <label for="BMI" class="form-label"><i class="fas fa-weight"></i> BMI value:</label>
              <div class="input-group">
                <input type="range" class="form-range" id="BMI" name="BMI" min="0" max="50" step="0.1"
                  oninput="updateTextInput(this.value, 'BMIValue')">
                <span class="range-value" id="BMIValue">0</span>
              </div>
            </div>

            <div class="mb-3">
              <label for="DiabetesPedigreeFunction" class="form-label"><i class="fas fa-user-friends"></i> Diabetes
                Pedigree
                Function value:</label>
              <div class="input-group">
                <input type="range" class="form-range" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction"
                  min="0" max="3" step="0.01" oninput="updateTextInput(this.value, 'DiabetesPedigreeFunctionValue')">
                <span class="range-value" id="DiabetesPedigreeFunctionValue">0</span>
              </div>
            </div>

            <div class="mb-3">
              <label for="Age" class="form-label"><i class="fas fa-user-clock"></i> Age of the person:</label>
              <div class="input-group">
                <input type="range" class="form-range" id="Age" name="Age" min="0" max="120" step="1"
                  oninput="updateTextInput(this.value, 'AgeValue')">
                <span class="range-value" id="AgeValue">0</span>
              </div>
            </div>

            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Diabetes Test Result</button>
          </form>
        </div>
        <div class="infor">
          <ol>
            <li><strong>Understanding the Form:</strong>
              <ul>
                <li>This web app helps predict diabetes risk based on various health parameters.</li>
                <li>Each parameter represents different aspects of health that contribute to diabetes risk.</li>
              </ul>
            </li>
            <li><strong>Input Fields:</strong>
              <ul>
                <li>Each input field represents a specific health parameter.</li>
                <li>Adjust the sliders to input your values for each parameter.</li>
              </ul>
            </li>
            <li><strong>Parameter Descriptions:</strong>
              <ul>
                <li><strong>Number of Pregnancies:</strong> Enter the number of pregnancies (in years).</li>
                <li><strong>Glucose Level:</strong> Input your glucose level (in mg/dL).</li>
                <li><strong>Blood Pressure Value:</strong> Enter your blood pressure value (in mmHg).</li>
                <li><strong>Skin Thickness Value:</strong> Input your skin thickness value (in mm).</li>
                <li><strong>Insulin Level:</strong> Enter your insulin level (in μU/ml).</li>
                <li><strong>BMI Value:</strong> Input your BMI value.</li>
                <li><strong>Diabetes Pedigree Function Value:</strong> Enter your diabetes pedigree function value.</li>
                <li><strong>Age of the Person:</strong> Input your age.</li>
              </ul>
            </li>
            <li><strong>Using the Sliders:</strong>
              <ul>
                <li>Slide the knob on each slider to select your value for the corresponding parameter.</li>
                <li>As you move the sliders, the current value will be displayed next to each slider.</li>
              </ul>
            </li>
            <li><strong>Submitting the Form:</strong>
              <ul>
                <li>After inputting your values, click on the "Diabetes Test Result" button.</li>
                <li>The app will process your inputs and provide a prediction based on the entered parameters.</li>
              </ul>
            </li>
            <li><strong>Interpreting the Result:</strong>
              <ul>
                <li>The result will indicate whether the person is predicted to be diabetic or not.</li>
                <li>Follow any additional instructions or recommendations provided based on the prediction result.</li>
              </ul>
            </li>
            <li><strong>Note:</strong>
              <ul>
                <li>This prediction is based on a trained model and should not be considered a substitute for
                  professional medical advice.</li>
                <li>Consult with a healthcare provider for accurate diagnosis and personalized guidance regarding
                  diabetes risk.</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
      <script>
        function updateTextInput(val, targetId) {
          document.getElementById(targetId).innerText = val;
        }
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
  </section>



  <!-- Text-to-Speech Functionality -->



  <!-- end about section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 footer_col">
          <div class="footer_contact">
            <h4>
              Reach at..
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +91 9699234605
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  glucowizard@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer_col" style="margin-left:200px;">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p>
              Empowering individuals with accurate diabetes risk predictions using advanced technology and expert
              insights.
            </p>
          </div>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">GlucoWizard<br><br></a>
        </p>

      </div>
    </div>
  </footer>
  <!-- footer section -->

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>

    <script>
      function updateTextInput(val, targetId) {
          console.log("Value changed to: " + val); // Check if the function is being called
          document.getElementById(targetId).innerText = val;
          document.getElementById(targetId + "_input").value = val;
      }
  </script>
  

</body>

</html>